@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
:root{
    --main-color:orange;
    --sec-color:rgba(14, 13, 13, 0.801);
}

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Nunito, 'sans-serif';
}

.main {
    width: 100%;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    
}
/* --------navbar css---------- */
.navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}
.navbar .logo{
    text-align: center;
}

.navbar .logo img{
width: 35px;
height: 35px;
border-radius: 100%;

}

.navbar .logo h3 {
    float: right;
    margin-left: 10px;
    line-height: 1.1;
}

.navbar .logo h3 span{
 font-size: 0.85em;
}

.navbar .nav ul{
    display: flex;

}

.navbar .nav ul li{
 margin:0 12px;
 list-style: none;
}

.navbar .nav ul li a{
text-decoration: none;
color: var(--sec-color);
}
.nav .nav-item:hover, .nav li:focus {
background-color: var(--main-color);
cursor: pointer;
}

.logo:hover, .social-icons .search:hover{
    cursor: pointer;
}
.fa-angle-down{
    color:#ddd;
    font-size: 0.85em;
}

.social-icons a{
margin-left: 8px;
margin-right:6px;
}

.social-icons .search{
    display: inline-block;
    padding-left: 16px;
    border-left: 1px solid #ddd;

}

.fa-brands{
color:var(--sec-color);

}

.menu {
    display: none;
 }

/* media queries */
@media (max-width: 1200px){
    .social-icons .fa-brands{
    display: none;
    }
    .social-icons .search{
    padding-left: 0;
    border-left: none;
    }
    
    .navbar .logo h3 {
        float: none;
    }
    }
    


@media (max-width:768px) {
 .navbar{
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
 }


 .navbar .nav ul{
    flex-direction: column;
    
 }
 

  .navbar .nav li{
    padding: 8px;
    
 }
 .menu {
    display: none;
 }
 .social-icons .fa-brands{
    display: inline-block;
    }
    .social-icons .search{
        padding-left: 16px;
        border-left: 1px solid #ddd;
    
    }


}







/* -------end of navbar css ---------*/